#!/usr/bin/env python3

PACKAGE = "camera"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# HSV 색상 필터 - 흰색
gen.add("white_H_min", int_t, 0, "White H min", 0, 0, 180)
gen.add("white_H_max", int_t, 0, "White H max", 180, 0, 180)
gen.add("white_S_min", int_t, 0, "White S min", 0, 0, 255)
gen.add("white_S_max", int_t, 0, "White S max", 67, 0, 255)
gen.add("white_V_min", int_t, 0, "White V min", 151, 0, 255)
gen.add("white_V_max", int_t, 0, "White V max", 255, 0, 255)

# HSV 색상 필터 - 노란색
gen.add("yellow_H_min", int_t, 0, "Yellow H min", 10, 0, 180)
gen.add("yellow_H_max", int_t, 0, "Yellow H max", 35, 0, 180)
gen.add("yellow_S_min", int_t, 0, "Yellow S min", 108, 0, 255)
gen.add("yellow_S_max", int_t, 0, "Yellow S max", 255, 0, 255)
gen.add("yellow_V_min", int_t, 0, "Yellow V min", 125, 0, 255)
gen.add("yellow_V_max", int_t, 0, "Yellow V max", 255, 0, 255)

# ROI 범위
gen.add("roi_y_start", int_t, 0, "ROI Y start", 0, 0, 480)
gen.add("roi_y_end", int_t, 0, "ROI Y end", 480, 0, 480)

# Warping 소스 포인트 (4개 점) - lanenet.py의 초기값 반영
gen.add("warp_src_x1", int_t, 0, "Warp source X1 (left bottom)", 100, 0, 640)
gen.add("warp_src_y1", int_t, 0, "Warp source Y1 (left bottom)", 400, 0, 480)
gen.add("warp_src_x2", int_t, 0, "Warp source X2 (left top)", 170, 0, 640)
gen.add("warp_src_y2", int_t, 0, "Warp source Y2 (left top)", 340, 0, 480)
gen.add("warp_src_x3", int_t, 0, "Warp source X3 (right top)", 470, 0, 640)
gen.add("warp_src_y3", int_t, 0, "Warp source Y3 (right top)", 340, 0, 480)
gen.add("warp_src_x4", int_t, 0, "Warp source X4 (right bottom)", 540, 0, 640)
gen.add("warp_src_y4", int_t, 0, "Warp source Y4 (right bottom)", 400, 0, 480)

# 이진화 임계값
gen.add("binary_threshold", int_t, 0, "Binary threshold", 20, 0, 255)

# PID 게인
gen.add("pid_kp", double_t, 0, "PID Kp", 0.005, 0.0, 1.0)
gen.add("pid_ki", double_t, 0, "PID Ki", 0.001, 0.0, 1.0)
gen.add("pid_kd", double_t, 0, "PID Kd", 0.003, 0.0, 1.0)

exit(gen.generate(PACKAGE, "lanenet_node", "LanenetParams"))
