<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
	<!-- <node pkg="lidar_object_detection" type="lidar_object_detection_crossing_node" output="screen"  name="object_detection_crossing"/> -->
    <node pkg="lidar_object_detection" type="lidar_object_detection_static_node" output="screen"  name="object_detection_static"/>
    <node pkg="lidar_object_detection" type="lidar_object_detection_car_node" output="screen"  name="object_detection_car"/>
</launch>   
