<?xml version="1.0"?>
<launch>
    <arg name="enable_local_planner" default="false" />
    <node pkg="control" type="control" name="control" output="screen">
        <param name="enable_local_planner" value="$(arg enable_local_planner)" />
        <param name="local_plan_timeout" value="0.5" />
    </node>
</launch>
